---
import { app } from "@/api/elysia";
import BlogPost from "@/components/BlogPost.astro";
import Navbar from "@/components/Navbar.astro";
import type { NewsItem } from "@/data/News";
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;

const response = await app.handle(
	new Request(`https://mpkskansaka.vercel.app/api/news/${slug}`),
);
const result = await response.json();

if (!result.success) {
	return Astro.redirect("/404");
}

const news: NewsItem = result.data;
---

<Layout>
    <Navbar />
    <main class="bg-white min-h-screen">
        <BlogPost news={news} />
    </main>
</Layout>

