---
import SocialFeed from "@/components/SocialFeed.astro";
import AboutMPKSection from "../components/AboutMPKSection.astro";
import CommissionsSection from "../components/CommissionsSection.astro";
import ExecutiveSection from "../components/ExecutiveSection.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import LiveMonitoring from "../components/LiveMonitoring.astro";
import Navbar from "../components/Navbar.astro";
import NewsSection from "../components/NewsSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Navbar />
    <main>
        <HeroSection />
        <LiveMonitoring />
        <AboutMPKSection />
        <NewsSection />
        <ExecutiveSection />
        <CommissionsSection />
        <SocialFeed />
    </main>
    <Footer />
</Layout>