---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Forum Aspirasi MPK SMKN 1 Kandeman" />
		<title>Forum Aspirasi MPK SMKN 1 Kandeman</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow-x: clip;
	}
</style>
